/* Bordered form */
form {
  border: 3px solid #f1f1f1;
  margin-top: 100px;
}
.page{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid black;
  border-radius: 2%;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}


/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}