<div class="page">
  <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
    <div class="container">
      <div class="input">
        <h1>Register</h1>
      </div>
      <div class="input">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Email" name="userName" ngModel id="userName" required>
      </div>
      <div class="input">
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" ngModel id="password" required>
      </div>
      <hr>
      <button type="submit" class="registerbtn">Register</button>
      <div>
        <p>Đã có tài khoản? <a routerLink="/login">Đăng nhập</a>.</p>
      </div>
    </div> 
  </form>
</div>