<div class="page">
  <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
    <div class="container">
      <div class="input">
        <h1>Login</h1>
      </div>
      <div class="input">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="userName" required ngModel>
      </div>
      <div class="input">
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" ngModel required>
      </div>
      <button type="submit">Login</button>
      <div>
        Chưa có tài khoản ?<a routerLink="/register">Đăng kí</a>
      </div>
    </div>
  </form>
</div>