*{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.page{
  margin-top: 100px;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button [type="add"]{
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

.add{
  background-color: #04aa6d;
  color: white;
  padding: 5px 5px;
  margin: 8px;
  border: none;
  cursor: pointer;
}

.delete{
  background-color: red;
  color: white;
  padding: 5px 5px;
  margin: 8px;
  border: none;
  cursor: pointer;
}

.logout{
  background-color: rgb(9, 171, 235);
  color: white;
  padding: 5px 5px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.true{
  text-decoration:line-through;
  background-color: #a9f036;
  display: inline-block;
  min-width: 200px;
}

.false{
  display: inline-block;
  min-width: 200px;
}

.task{
  display: flex;
  flex-direction: row!important;
}