<div class="page">
  <h1>Todo App</h1>
  <div class="task">
    <input type="text" [(ngModel)]="itemList" >
    <button class="add" (click)="addItem(itemList)">Thêm</button>
  </div>
  <div  class="task" *ngFor="let item of list ; let i = index">
    <p [appHighLight]="'orange'" ngClass="{{item?.done}}">
      {{item?.id}}-{{item?.note}}
    </p>
    <span class="task">
      <button class="delete" (click)="removeItem(item?.id)">Xóa</button>
      <button class="add" (click)="doneItem(i)">Hoàn thành</button>
    </span>
  </div>
  <button class="logout " (click)="onLogout()"> Logout</button>
</div>